NODE_PORT=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
CORS_ORIGIN=

# AUTH
JWT_SECRET=
JWT_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=

JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=

ROOT_ADMIN_EMAIL=
ROOT_ADMIN_PASSWORD=